---
interface Props {
	size?: number;
	ref?: boolean;
	cutout?: boolean;
}

const { size = 30, ref = true } = Astro.props;
---

<a
	href="/"
	class:list={{
		logo: true,
		ref: ref,
	}}
	aria-label="Index Page"
	aria-disabled={ref ? "false" : "true"}
>
	<span>
		<span>voidf:</span><span class="slashes">//</span>
	</span>
</a>

<style define:vars={{ s: size + "px" }}>
	.logo {
		display: block;
		font-size: calc(var(--s) * 0.8);
		line-height: calc(var(--s) * 0.8);
		width: calc(var(--s) * 2.7);
		height: var(--s);
		background-color: var(--accent-primary);
		font-family: "Zilla Slab", serif;
		font-weight: 600;
		color: var(--background-primary);
		text-decoration: none;
		text-align: center;
		align-content: center;
	}

	.logo:not(.ref) {
		pointer-events: none;
	}

	.slashes {
		font-weight: 800;
	}
</style>
