---
import Layout from "../layouts/Layout.astro";
---

<Layout title="voidfill" description="funny description">
	{Array.from({ length: 100 }).map((_, i) => <div>{i * 8888888888888888}</div>)}
</Layout>

<style></style>
