---
import Layout from "../layouts/Layout.astro";
const d = new Date();
---

<Layout title="voidfill" description="funny description">
	<div>
		nyaaa
		{d.toISOString()}
	</div>
</Layout>

<style>
	div {
		background-color: red;
	}
</style>
