---
import Theme from "./Theme.astro";

const path = Astro.url.pathname;
const page = "/" + path.split("/")[1];

const paths: {
	href: string;
	item: any;
}[] = [
	{ href: "/about", item: "About" },
	{
		href: "/projects",
		item: "Projects",
	},
];
---

<div class="nav">
	<div class="left">
		<div class="logo-wrapper">
			<a href="/" class:list={{ active: page === "/", logo: true }}>voidf:<span style="font-weight: 1000">//</span></a>
		</div>
		{
			paths.map(({ href, item }) => (
				<a
					href={href}
					class:list={{
						active: href === page,
						pagelink: true,
					}}
				>
					{item}
				</a>
			))
		}
	</div>
	<div class="right">
		<Theme />
	</div>
</div>

<style>
	a {
		all: unset;
	}

	.nav {
		position: fixed;
		top: 0;
		left: 0;
		width: calc(100% - 40px);
		backdrop-filter: blur(10px);
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid rgb(from var(--accent-primary) r g b / 10%);
		padding: 0 20px;
	}

	.left {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}

	.pagelink {
		all: unset;
		cursor: pointer;
		padding: 4px;
		border-radius: 4px;
		border: 1px solid rgb(from var(--accent-primary) r g b / 0%);
		color: rgb(from var(--accent-primary) r g b / 70%);
		transition:
			border-color 0.2s,
			color 0.2s;
	}

	.pagelink:hover,
	.pagelink:focus {
		border-color: rgb(from var(--accent-primary) r g b / 20%);
		color: rgb(from var(--accent-primary) r g b / 85%);
	}

	.pagelink.active {
		border-color: rgb(from var(--accent-primary) r g b / 40%);
		color: rgb(from var(--accent-primary) r g b / 100%);
	}

	.logo-wrapper {
		background-color: var(--accent-primary);
		color: var(--background-primary);
	}

	.logo {
		color: inherit;
		font-size: 1.5em;
		font-weight: bold;
		color: inherit;
		font-family: "Zilla Slab";
		font-weight: 600;
		font-style: normal;
		cursor: pointer;
		padding: 2px 4px;
	}
</style>
