.repository-card {
	all: unset;
	display: flex;
	flex-direction: column;
	min-width: 0px;
	flex-grow: 1;
	flex-shrink: 1;
	border: 1px solid rgb(from var(--accent-primary) r g b / 20%);
	border-radius: 8px;
	padding: 8px;
	background-color: var(--background-primary);
	cursor: pointer;

	> .info {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.header {
		display: inline-flex;
		align-items: center;
		gap: 6px;
	}
}

.repositories {
	display: grid;
	gap: 16px;
	max-width: min(900px, 100vw);
	grid-template-columns: repeat(auto-fill, minmax(min(420px, calc(100vw - 32px)), 1fr));

	.fallback {
		display: flex;
		justify-content: center;
	}
}

.languages {
	display: flex;
	flex-direction: row;
	height: 8px;

	.language {
		white-space: nowrap;
	}
}
