---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";

interface Props {
	title: string;
	description?: string;
	nav?: boolean;
}

const { title, description, nav = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		{description && <meta name="description" content={description} />}
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body data-theme={"dark"}>
		{nav && <Nav />}
		<slot />
	</body>
</html>

<script>
	import "../signals";
</script>

<style>
	body[data-theme="dark"] {
		background-color: black;
	}

	body[data-theme="light"] {
		background-color: green;
	}
</style>