@property --background-primary {
	syntax: "<color>";
	initial-value: #09090b;
	inherits: true;
}

@property --accent-primary {
	syntax: "<color>";
	initial-value: #fafafa;
	inherits: true;
}

@property --mouse-x {
	syntax: "<length>";
	initial-value: 0px;
	inherits: true;
}

@property --mouse-y {
	syntax: "<length>";
	initial-value: 0px;
	inherits: true;
}

@property --mouse-mult {
	syntax: "<percentage>";
	initial-value: 0%;
	inherits: true;
}

@property --mouse-width {
	syntax: "<length>";
	initial-value: 100vw;
	inherits: true;
}

body[data-theme="dark"] {
	--background-primary: #09090b;
	--accent-primary: #fafafa;
}

body[data-theme="light"] {
	--background-primary: #fafafa;
	--accent-primary: #09090b;
}

body {
	background-color: var(--background-primary);
	transition-property: --accent-primary, --background-primary;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
	color: var(--accent-primary);
	accent-color: var(--accent-primary);

	user-select: none;

	font-family: "Inter", sans-serif;
	font-style: normal;
	overflow: hidden;
}

.root {
	background-color: rgb(from var(--accent-primary) r g b / 15%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

.background {
	position: relative;
	display: flex;
	flex-direction: column;
	background: radial-gradient(circle at center, transparent 1px, var(--background-primary) 1px);
	background-size: 30px 30px;
	background-repeat: repeat;
	flex-grow: 1;
}

.spacer {
	padding-top: 60px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	padding: 16px;
}

body::after {
	content: "";
	position: absolute;
	top: var(--mouse-y);
	left: var(--mouse-x);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: var(--mouse-width);
	height: var(--mouse-width);
	background: radial-gradient(circle, rgb(from var(--accent-primary) r g b / 100%) 0%, rgb(from var(--accent-primary) r g b / 15%) 40%, rgb(from var(--accent-primary) r g b / 0%) 100%);
	z-index: -1;
	opacity: var(--mouse-mult);

	transition-property: --mouse-mult, --mouse-width;
	transition-duration: .4s;
	transition-timing-function: ease-out;
}

body.no-transition::after {
	transition: none;
}