---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import "./layout.css";

interface Props {
	title: string;
	description?: string;
	nav?: boolean;
}

const { title, description, nav = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		{description && <meta name="description" content={description} />}
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" href="https://avatars.githubusercontent.com/u/71205200?size=64" type="image/png" />
		<link href="/fonts/zilla/zillaslab.css" rel="stylesheet" />
		<link href="/fonts/inter/inter.css" rel="stylesheet" />
		<ViewTransitions />
	</head>
	<body
		data-theme={"dark"}
		class="no-transition"
		style={{ "--mouse-x": "0px", "--mouse-y": "0px", "--mouse-mult": "0%", "--mouse-width": "100vw" }}
	>
		<div class="root">
			<div class="background">
				{nav && <Nav />}
				<div class="content">
					{nav && <div class="spacer" />}
					<div>
						<slot />
					</div>
					<div class="spacer"></div>
				</div>
			</div>
		</div>
		<script>
			import "../signals";
		</script>
		<script>
			const touchDevice = !!(navigator.maxTouchPoints || "ontouchstart" in document.documentElement);

			let lastX = 0,
				lastY = 0;
			function MouseIn(body: HTMLElement = document.body) {
				body.style.setProperty("--mouse-mult", "100%");
				body.style.setProperty("--mouse-width", "40vw");
			}
			function MouseOut(body: HTMLElement = document.body) {
				body.style.setProperty("--mouse-mult", "0%");
				body.style.setProperty("--mouse-width", "100vw");
			}

			document.addEventListener("astro:before-swap", (e) => {
				const body = e.newDocument.body;
				body.classList.add("no-transition");
				body.style.setProperty("--mouse-x", lastX + "px");
				body.style.setProperty("--mouse-y", lastY + "px");
				if (!touchDevice) MouseIn(body);

				setTimeout(() => {
					body.style.setProperty("--mouse-x", lastX + "px");
					body.style.setProperty("--mouse-y", lastY + "px");
					body.classList.remove("no-transition");
				}, 300);
			});

			setTimeout(() => {
				document.body.classList.remove("no-transition");
			}, 300);

			if (!touchDevice) {
				document.addEventListener("mouseout", () => {
					MouseOut();
				});

				document.addEventListener("mousemove", (e) => {
					lastX = e.clientX;
					lastY = e.clientY;
					document.body.style.setProperty("--mouse-x", e.clientX + "px");
					document.body.style.setProperty("--mouse-y", e.clientY + "px");
					MouseIn();
				});

				if (document.hasFocus()) MouseIn();
			}
		</script>
	</body>
</html>
