---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import "./layout.css";

interface Props {
	title: string;
	description?: string;
	nav?: boolean;
}

const { title, description, nav = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		{description && <meta name="description" content={description} />}
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" href="https://avatars.githubusercontent.com/u/71205200?size=64" type="image/png" />
		<link href="/fonts/zilla/zillaslab.css" rel="stylesheet" />
		<link href="/fonts/inter/inter.css" rel="stylesheet" />
		<ViewTransitions />
	</head>
	<body data-theme={"dark"} class="no-transition">
		<div class="root">
			<div class="background">
				{nav && <Nav />}
				<div class="content">
					{nav && <div class="spacer" />}
					<div>
						<slot />
					</div>
					<div class="spacer" />
				</div>
			</div>
		</div>
		<script>
			import "../signals";
		</script>
		<script>
			document.addEventListener("astro:before-swap", (e) => {
				const body = e.newDocument.body;
				body.classList.add("no-transition");
				setTimeout(() => body.classList.remove("no-transition"), 300);
			});
			setTimeout(() => document.body.classList.remove("no-transition"), 300);
		</script>
	</body>
</html>
